/.settings/
.project
.pydevproject
/target/
/__pycache__/
#doc,docx

#все логи не держим в репозитории - у всех разные пуски
# во всех подкаталогах с расширениями *.log
# джокер ** поддерживается с версии 1.8.5
**/*.log
**/*.out
#кэши питона тоже отбрасываем
**/*.pyc
*.log
/logs/
#файлы результатов - не нужны, это вычисляемое
**/*-out*.xml
**/*-out*.xlsx
# только для корневого каталога
/*-out*.xml
